<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="scripts/editPage.js">//</script>
	<title>FanCrawler</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/default.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="css/images/ballIcon.png">
    
    <style>
        .list_box {
            border-style:none
        }
    </style>
</head>
<body>
<div id="header">
	<h1><a href="/">FanCrawler</a></h1>
	<h2>Follow Your Teams</h2>
		{% if login %}
			<div id="signin"><a href="{{login}}">Sign In</a>
		{% else %}
			<a href="{{logout}}">Sign Out</a>
            <a href="/feed">Feeds</a>
			<a href="/choose_teams">Edit Profile</a>: {{nickname}}</div>
		{% endif %}
</div>
<!-- end #header -->
<div id="page">
	<div id="content">
		<div class="post">
            <h1 class="title"><span>Edit Teams</span></h1>
			<div>
                <p>To add a team:<p>
                <ol>
                    <li>Select a league</li>
                    <li>Select a team</li>
                    <li>Click add</li>
                </ol>
                <p>To remove a team:</p>
                <ol>
                    <li>Select a team from your list</li>
                    <li> Click remove</li>
                </ol>
            </div>
            <hr><br>
            <form name="combo_box" id="addTeamFrom">
                <table class="list_box">
                    <tr class="column-names">
                        <th>League</th>
                        <th>Teams</th>
                        <th/>
                        <th>Your Teams<th>
                    </tr>
                    <tr>
                        <td>
                            <select class="block" id="leagues" size="4" onchange="createTeamOptions();">
                                <option value="mlb">MLB</option>
                                <option value="nba">NBA</option>
                                <option value="nfl">NFL</option>
                                <option value="nhl">NHL</option>
                            </select>
                        </td>
                        <td>
                            <select class="block" id="teams" name="allTeamsLB" style="display:none"/>
                        </td>
                        <td class="middle" align="center">
                            <input type="button" onClick="addTeamToView(this.form.allTeamsLB, this.form.userTeamsLB)" value="ADD">
                            <br><br>
                            <input type="button" onClick="removeTeamFromView(this.form.userTeamsLB)" value="REMOVE">
                            <br><br>
                            <input type="button" onClick="saveTeams(this.form)" id="saveButton" value="SAVE">
                        </td>
                        <td>
                            <select class="block" id="userTeams" name="userTeamsLB" size="30">
                                {% for team in teams %}
                                <option value="{{team.league}}-{{team.name}}">{{team.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
		</div>
		<div class="post" id="selectedTeams"></div>
	</div>
	<!-- end #content -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
	<p id="legal">Designed by Brendan Quay, Devon Broglie, Drew Winfield.</p>
	<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
</div>
<!-- end #footer -->
</body>
</html>
