<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="scripts/funcs.js">//</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<title>FanCrawler</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/default.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="css/images/ballIcon.png">
	<script>
	    var offset = 0;
	    // taken from http://stackoverflow.com/questions/14035180/jquery-load-more-data-on-scroll
        $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height()) {
               offset += 21;
               var team = document.getElementById("team").getAttribute('value');
               console.log(team);
               console.log(offset);
               moreArticles(offset, team);
            }
        });
	</script>
</head>
<body>
<div id="header">
	<h1><a href="/">FanCrawler</a></h1>
	<h2>Follow Your Teams</h2>
	{% if login %}
		<div id="signin"><a href="{{login}}">Sign In</a>
	{% else %}
		<div id="signin"><a href="{{logout}}">Sign Out</a>
		<a href="/choose_teams">Edit Profile</a>
		<a href="/feed">Feed</a>
	{% endif %}
	</div>
</div>
<!-- end #header -->
<div id="page">
	<input id="team" type="hidden" name="team" value="{{team}}">
	<div id="content">
		<div class="post">
			<table style="width:100%" align="center" cellpadding="10px" cellspacing="5px">
				<tr>
					{% for article in articles %}
						{% if forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
							</tr><tr> 
						{% endif %}
						<td class="articleTable">
							{% if article.image %}
								<div class="displayArticle"><img class="articleImg" src="{{article.image}}" /></div>
							{% endif %}
							<div class="articleTitle"><a href={{article.link}} target="_blank"><h2>{{article.headline}}</h2></a></div>
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>
	</div>
	<!-- end #content -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
	<p id="legal">Designed by Brendan Quay, Devon Broglie, Drew Winfield.</p>
</div>
<!-- end #footer -->
</body>
</html>